@import "tailwindcss";
body{
  height: 100vh;
  width: 99vw;
}
.noScrollBar::-webkit-scrollbar{ 

   width: 6px;
}
.noScrollBar::-webkit-scrollbar-button{
  display: none;
}
.noScrollBar::-webkit-scrollbar-thumb{
   background-color: rgba(186, 186, 186,.3);
   border-radius: 4px;
}
.editButton{
  transition: 0.2s ease-in-out !important;
}
.editButton:hover{
  transform: scale(1.2,1.2);
}
.loader {
    border: 24px solid;
    border-color: rgba(120, 120, 120, 0.15) rgba(120, 120, 120, 0.25) rgba(120, 120, 120, 0.35) rgba(120, 120, 120, 0.5);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }

@keyframes animloader {
    0% {
      border-color: rgba(120, 120, 120, 0.15) rgba(120, 120, 120, 0.25) rgba(120, 120, 120, 0.35) rgba(120, 120, 120, 0.75);
}
    33% {
      border-color: rgba(120, 120, 120, 0.75) rgba(120, 120, 120, 0.15) rgba(120, 120, 120, 0.25) rgba(120, 120, 120, 0.35);
}
    66% {
      border-color: rgba(120, 120, 120, 0.35) rgba(120, 120, 120, 0.75) rgba(120, 120, 120, 0.15) rgba(120, 120, 120, 0.25);
}
    100% {
      border-color: rgba(120, 120, 120, 0.25) rgba(120, 120, 120, 0.35) rgba(120, 120, 120, 0.75) rgba(120, 120, 120, 0.15);
}
  }

  .logloader {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      position: relative;
      animation: rotate 1s linear infinite
    }
    .logloader::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #FFF;
      animation: prixClipFix 2s linear infinite ;
    }

    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }

    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
  
  